[submodule "http"]
	path = http
	url = https://github.com/basmilius/raxos-http
[submodule "router"]
	path = router
	url = https://github.com/basmilius/raxos-router
[submodule "foundation"]
	path = foundation
	url = https://github.com/basmilius/raxos-foundation
[submodule "database"]
	path = database
	url = https://github.com/basmilius/raxos-database
[submodule "cache"]
	path = cache
	url = https://github.com/basmilius/raxos-cache
[submodule "rate-limit"]
	path = rate-limit
	url = https://github.com/basmilius/raxos-rate-limit
