[submodule "http"]
	path = http
	url = https://github.com/basmilius/raxos-http
[submodule "router"]
	path = router
	url = https://github.com/basmilius/raxos-router
[submodule "foundation"]
	path = foundation
	url = https://github.com/basmilius/raxos-foundation
[submodule "database"]
	path = database
	url = https://github.com/basmilius/raxos-database
[submodule "cache"]
	path = cache
	url = https://github.com/basmilius/raxos-cache
[submodule "rate-limit"]
	path = rate-limit
	url = https://github.com/basmilius/raxos-rate-limit
[submodule "oauth2"]
	path = oauth2
	url = https://github.com/basmilius/raxos-oauth2
[submodule "mail"]
	path = mail
	url = https://github.com/basmilius/raxos-mail.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/basmilius/raxos-terminal.git
